@{
    ViewBag.Title = "About";
}

<h2 class="pt-3">@ViewBag.Message</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="pt-4">
                Boxes of Books was founded in 2014 in Hiawatha, IA.
                Initially occupying a small space off of Boyson Road
                we eventually moved to a larger location and began
                selling books online in late 2019. If we don't have
                a book you are interested in online or in our store
                please send us an email, call, or stop in. We'd love
                to try to find and order the book you're seeking.
                Happy reading!
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/Images/box2.png" alt="Box of books image" style="max-width: 400px; max-height: 400px;"/>
        </div>
    </div>
</div>

